@using ProjectKonsentrasi.Webserver.Models.Database

@{
    ViewData["Title"] = "Manajemen Klinik Tujuan";
    Layout = "Dashboard/_Layout";

    var datas = ViewData["Data"] as List<ListKlinikTujuan>;
    var dataModified = ViewData["DataModified"] as ListKlinikTujuan;
    var action = dataModified == null ? "Tambah" : "Ubah";
}

@section Navbar {
  <partial name="Dashboard/Navbar" />
}

@section ActionButton {
  <div class="btn-list">
    <a href="#" class="btn btn-primary d-none d-sm-inline-block" onclick="window.location = '?id=0'">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <line x1="12" y1="5" x2="12" y2="19"></line>
    <line x1="5" y1="12" x2="19" y2="12"></line></svg> Tambah Data</a>
  </div>
}

@section PageBody {
  <div class="container-xl">
    @{
      if (ViewBag.IsCRUD)
      {
        <form asp-controller="DashboardManageClinic" asp-action="@(action == "Tambah" ? "AddData" : "EditData")">
          <div class="card mb-3" id="modal-modify-data">
            <div class="card-header">
              <h1>@action Data</h1>
            </div>
            <div class="card-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 col-xl-6 mb-3">
                    <label class="form-label">ID</label>
                    <input type="text" class="form-control" name="ID" value="@(action == "Ubah" ? dataModified!.ID : "")" readonly>    
                  </div>
                  <div class="col-md-12 col-xl-6 mb-3">
                    <label class="form-label">Nama Klinik</label>
                    <input type="text" class="form-control" name="NamaKlinik"  value="@(action == "Ubah" ? dataModified!.NamaKlinik : "")">    
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer text-end">
              <div class="d-flex">
                <a asp-controller="DashboardManageClinic" asp-action="Index" class="btn btn-link">Batal</a>
                <button type="submit" class="btn btn-primary ms-auto">@action</button>
              </div>
            </div>
          </div>
        </form>
      }
      else
      {
        <div class="card" id="list-data">
          <div class="card-body">
            @{
              if (TempData["Message"] != null)
              {
                <p>@TempData["Message"]</p>
              }
            }
            <table id="tabel">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nama Klinik</th>
                  <th style="width: 20%;">Aksi</th>
                </tr>
              </thead>
              <tbody>
                @{
                  foreach (var data in datas!)
                  {
                    <tr>
                      <td>@data.ID</td>
                      <td>@data.NamaKlinik</td>
                      <td>
                        <button onclick="window.location = '?id=@data.ID'" class="btn btn-secondary">Edit</button>
                        <button onclick="hapusData(@data.ID)" class="btn btn-danger">Hapus</button>
                      </td>
                    </tr>
                  }
                }
              </tbody>
            </table>
          </div>
        </div>
      }
    }
  </div>

  <script>
    $(() => {
      $('#tabel').DataTable()
    })

    function hapusData(id) {
      if (!confirm("Apakah anda ingin menghapus data ini?")) return

      $.ajax({
        method: 'post',
        url: '@Url.Action("DeleteData", "DashboardManageClinic")',
        data: {
          id: id
        },
        success: (data, status, xhr) => {
          alert("Data berhasil dihapus!")
          location.reload()
        },
        error: (xhr, status, err) => {
          alert("Seperti ada kesalahan. Cek console")
          console.log(err)
        }
      })
    }
  </script>
}